

@font-face {
  font-family: Univers-Next-Regular;
  src: url(../assets/fonts/UniversNextPro-Regular.otf);
}

@font-face {
  font-family: Continua;
  src: url(../assets/fonts/Continua-Regular.otf) ;
}

@font-face {
  font-family: Cigars;
  src: url(../assets/fonts/cigars-light-webfont.otf);
}

@font-face {
  font-family: Tiempos;
  src: url(../assets/fonts/tiempos.otf);
}


@font-face {
  font-family: Atlas-Grotesk-Bold;
  src: url(../assets/fonts/atlastypewriter-bold-reduced-webfont.ttf);
}

@font-face {
  font-family: Atlas-Grotesk;
  src: url(../assets/fonts/atlasgrotesk-regular.ttf);
}

@font-face {
  font-family: Avenir-Bold;
  src: url(../assets/fonts/AvenirNextBold.ttf);
}

@font-face {
  font-family: Avenir-Reg;
  src: url(../assets/fonts/AvenirNext-Regular.ttf);
}



// utilizing
@font-face {
  font-family: Whyte-Inktrap-Medium;
  src: url(../assets/fonts/WhyteInktrap-Medium.otf);
}

// testing 
@font-face {
  font-family: HermesLight;
  src: url(../assets/fonts/Hermes-Light.otf);
}
@font-face {
  font-family: HermesBold;
  src: url(../assets/fonts/Hermes-Bold.otf);
}


// unused 